<!DOCTYPE html>
<html>
  <head>
    <title>React Rails starter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body style="margin:0; font-family:'Roboto', sans-serif">
    <div id='replace-with-js'>
      <%= yield %>
    </div>
  </body>
</html>
